@import 'variables.scss';
@import 'common.scss';

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 1440px;
  max-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px 120px;
}

.card-header-box {
  display: flex;
  flex-direction: column;
  height: 64px;
  padding: 33px auto;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.price-card {
  &__option-title {
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  &__price-number {
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
    text-align: center;
  }

  &__option-subtitle {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &__price-box {
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;

    &_basic {
      background-color: $color-green;
    }

    &_business {
      background-color: $color-violet;
    }

    &_webshop {
      background-color: $color-orange;
    }
  }

  &__description {
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: $color-white;
    margin: auto 26px;
  }

  &__option {
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
    color: $color-white;

    &:nth-child(odd) {
      background-color: $color-too-dark;
    }
  }

  &__option-text {
    padding-left: 22px;
  }

  &__option-image {
    width: 15px;
    height: 13px;
    padding: 18px 0 19px 22px;
  }

  &__order {
    padding: 39px 113px 40px 112px;
  }

  &__order-btn {
    color: $color-white;
    border: none;
    height: 40px;
    border-radius: 20px;
    width: 154.52px;

    &_basic {
      background-color: $color-green;
    }

    &_business {
      background-color: $color-violet;
    }

    &_webshop {
      background-color: $color-orange;
    }
  }
}
.card_popular {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.popularity {
  height: 25px;
  width: 147px;
  color: $color-white;
  background-color: $color-red;
  transform: rotate(45deg);
  position: absolute;
  left: 270px;
  top: 27px;
  z-index: 1;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}
